@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="margin-top: 2%; margin-bottom: 2% ">
 <div id="myMap"
style="position:relative;width:1280px;height:400px;"></div>
</div> 

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    
<script type='text/javascript'>
    function GetMap()
    {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'Aqmgtdjtqe3ceT2ai7xuYevx46TyJ5SFik3P4BNMjFxLe6IM03fMZK69IzBU4U5Y',
            center: new Microsoft.Maps.Location(43.8563, 18.4131),
            mapTypeId: Microsoft.Maps.MapTypeId.aerial,
            zoom: 10
        });
        
        infobox = new Microsoft.Maps.Infobox(map.getCenter(), {
            visible: false
        });
        infobox.setMap(map);
        var etf = new Microsoft.Maps.Location(43.829078,18.3423);
        var pin = new Microsoft.Maps.Pushpin(etf);
        pin.metadata = {
            title: 'Stanica br.1',
            description: 'Dobrinja'
        };
        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
        map.entities.push(pin);
        var otoka = new Microsoft.Maps.Location(43.84728,18.36545);
        var pin = new Microsoft.Maps.Pushpin(otoka);
        pin.metadata = {
            title: 'Stanica br.2',
            description: 'Otoka'
        };
        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
        map.entities.push(pin);

        var kolonija = new Microsoft.Maps.Location(43.812853,18.3076);
        var pin = new Microsoft.Maps.Pushpin(kolonija);
        pin.metadata = {
            title: 'Stanica br.3',
            description: 'Sokolovic Kolonija'
        };
        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
        map.entities.push(pin);
        var scc = new Microsoft.Maps.Location(43.855465,18.408043);
        var pin = new Microsoft.Maps.Pushpin(scc);
        pin.metadata = {
            title: 'Stanica br.4',
            description: 'Sarajevo City Centar'
        };
        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
        map.entities.push(pin);
       
        var ritual = new Microsoft.Maps.Location( 43.829548,18.358904);
        var pin = new Microsoft.Maps.Pushpin(ritual);
        pin.metadata = {
            title: 'Stanica br.5',
            description: 'RiTual'
        };
        Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
        map.entities.push(pin);


    }
    function pushpinClicked(e) {
        if (e.target.metadata) {
            infobox.setOptions({
                location: e.target.getLocation(),
                title: e.target.metadata.title,
                description: e.target.metadata.description,
                visible: true
            });
        }
    }   
</script>